<div>
    <p><strong>{{list.name}}</strong></p>
    <div class="input-group mb-3">

        <input class="form-control" #addCardInput placeholder="name">

        <div class="input-group-append">
            <button 
                (click)="add({name: addCardInput.value, list: list.id}); addCardInput.value='';"
                class="btn btn-outline-secondary">
                add
            </button>
        </div>

    </div>
    <ul class="list-group">
        <li *ngFor="let card of list.cards" class="list-group-item p-1 m-1 rounded" [style.border-color]="bgColor">
            <div class="d-flex justify-content-between">
                <a 
                    class="flex-grow-1 align-self-stretch" 
                    routerLink="/detail/{{card.id}}">
                    {{card.name}}
                </a>
                <button 
                    class="btn btn-outline-danger btn-xs" 
                    title="delete" 
                    (click)="delete(card)">
                    x
                </button>
            </div>
        </li>
    </ul>
</div>